/*common css start*/
body{
    margin: 0;
    padding: 0;
}
/*common css end*/

/*header start*/
header{
    border-bottom: 3px solid black;
    padding: 10px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

.logo{
    width: 10%;
    float: left;
}
.logo img{
    width: 100%;
}

.menu{
    margin-top: 3px;
    width: 45%;
    float: right;
}

.menu ul{
    float: right;
}

.menu ul li{
    list-style: none;
    float:left;
}

.menu ul li a{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #0F2656;
    text-decoration: none;
    margin: 0 20px;
    display: inline-block;
}
.menu ul li:last-child a{
    margin-right: 0;
}
/*header end*/
/*banner start*/
.banner{
    padding: 60px 0;
    /* border: 1px solid red; */
}
.container2{
    width: 55%;
    margin: 0 auto;
    /* border: 1px solid yellow; */
    
}
.b_content{
    font-family: sans-serif;
    text-align: center;
}
.b_content h1{
    font-size: 45px;
    font-weight: 700;
    color: #0F2656;
    margin: 0;
}
.b_content h2{
    font-size: 45px;
    font-weight: 700;
    color: #00BAFF;
    margin: 10px 0;
}
.b_content p{
    font-size: 16px;
    font-weight: 400;
    color: #0F2656;
    line-height: 23px;
    word-spacing: 1px;
    margin-top: 0;
    margin-bottom: 15px;
}
.b-img{
    margin: 0 auto;
    width: 75%;

}
.b-img img{
    width: 90%;
}

/*banner end*/
/*success start*/
.success{
    padding: 60px 0;
}
.s-content{
    overflow: hidden;
    font-family: sans-serif;
}
.s-left{
    width: 40%;
    /* border: 1px solid ; */
    float: left;
    text-align: right;
    padding: 0 10px 0 20px;
}
.s-left h2{
    font-size: 40px;
    font-weight: 700;
    color: #F15767;
    margin: 0 0 10px;
}
.s-left p{
    font-size: 16px;
    font-weight: 400;
    color: #0F2656;
    margin: 0;
    line-height: 25px;
    word-spacing: 1px;
}

.s-right{
    width: 50%;
    /* border: 1px solid; */
    float: right;
    padding: 0 20px 0 20px;

}
.s-right h1{
    font-size: 42px;
    font-weight: 700;
    color: #0F2656;
    line-height: 50px;
    margin: 0;
}
/*success end*/
/* featue start */

.f-content{
    overflow: hidden;
}
.f-single{
    width: 28%;
    /* border: 1px solid; */
    font-family: sans-serif;
    color: #0F2656;
    padding: 30px 24px 45px ;
    float: left;
    margin-right: 25px;
}
.f-single:last-child{
    margin-right: 0;
}
.pink {
    background-color: #FDEBED;
}
.green{
    background-color: #EBF9F4;
}
.yellow{
    background-color: #FFF7E8;
}

.f-img img{
    width: 100%;
}

.f-single h2{
    margin: 20px 0;
    font-size: 22px;
    font-weight: 700;
}
.f-single p{
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}
/* featue end */
/*footer start */
footer{
    margin-top: 45px;
    height: 50px;
    background-color: #00BAFF;
    
}
footer p {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
}
/* footer end */